@model CmsIdViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS Monitoring</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/js/Chart.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="~/js/Chart.bundle.js"></script>
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">CMS Media Load Monitor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0" asp-action="Index" asp-controller="Home">
                <label>Select CMS Server</label>
                <select asp-for="SelectedCmsId" asp-items="Model.Items2">
                    <option value="">**Not selected**</option>
                </select>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>CMS Monitoring</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
